.card{
    display: flex;
    background-color:#333;
    min-height:312px;
    border-radius: 5px;
    flex-direction: column;
    margin-top: $margin-l;
    transition: transform ease-in-out 0.2s;
    cursor: pointer;

}

.card:hover{
    transform:scale(1.1)
}

.card__img{
    width: 100%;
    flex:2;
}

.card__name{
    color:white;
    flex:1;
    padding:1rem;
    font-size: $font-medium;
    background-color:black;
}

@media (max-width:600px){
    .card{
        transition:none;
        width: 50%;
        margin:auto;
        margin-top: $margin-l;
    }

    .card:hover{
        transform:none;
    }
}