.loader {
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid #ed1365;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: auto;
  }

.loaderContainer{
    margin-top: $margin-l;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

