.skeleton{
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33,#bc4e9c ), color-stop(0.67, #f80759));
    border-radius:5px;
    animation: back-change 2s infinite;
    animation-direction: alternate;
    margin-top: $margin-l;
}

.skeleton__img{
    width: 100%;
    height: 100%;
}

@keyframes back-change {
    from { opacity: 1; }
      to { opacity: 0.5; }
 }
 