@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Pacifico&display=swap');
@import './settings/settings';
@import './base/base';
@import './components/Loader.scss';
@import './components/Header.scss';
@import './components/FoldersList.scss';
@import './components//SkeletonCard.scss';
@import './components/Card.scss';
@import './components/Button.scss';
@import './components/FilesList.scss';
@import './components/Files.scss';
