*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    line-height: 1.4;
    font-family: 'Lato', sans-serif;
    background-color: #260036;
}

.CodeMirror{
    margin:auto;
    margin-top: $margin-xl;
    max-width: 1100px;
    min-height: 80vh;
    border-radius: 5px;
}